
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <h5>Ticket Master Attractions</h5>
</div>

<img src="https://ksassets.timeincuk.net/wp/uploads/sites/54/2018/06/Ticketmaster-920x470.jpg" class="col-12"/>

